<h4>AMIT SHUKLA</h4>
PgMP® PMP® SCM PGDWM B.E. (E&C) B.Sc.<br>
IT Business Intelligence, Analytics SME and Senior Leader 
<h4>PROFESSIONAL PROFILE</h4>
<p>
Healthcare IT Business Intelligence/Analytics SME, Leader with 20+ years of Functional/IT Consulting and Business leadership experience<br>
on large scale Business Intelligence, Data warehouse, Analytics, PeopleSoft EPM, Data Mining, BIG DATA (Hadoop, Cloudera, R,<br>
Python Machine Learning , Tableau, Trifacta, Arcadia, Cognos, BO BI etc.), Enterprise design Architecture, <br>
Cloud computing and Oracle PeopleSoft EPM, ERP (Finance, Supply Chain, HR Analytics and CRM), development, implementations consulting, <br>
support and Management from conception to completion.<br><br>
Strong record of success in managing robust IT High Reliable Organizations (HRO).<br><br>
Proven ability to bring the benefits of IT to solve business issues while delivering applications, solid infrastructure, optimized costs and risks management planning.
<br><br>
Provide strategic direction to senior leadership and staff on technology and management consulting. 
</p>