<h4>Videos</h4>
<p>
    <a href="https://github.com/AmitXShukla/GitHub-Hello-World" target="_blank">
          GitHub-Hello-World
    </a>
    <br>GitHub Git Commands Git Desktop Basics Installation and Commands
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/HUkgfgJlLoM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p>
  <a href="https://github.com/AmitXShukla/Angular-Material" target="_blank">
    AmitXShukla.github.io
  </a>
  <br>Angular Material - Static Website Development
  <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Py0F19Oh2FY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p>
  <a href="https://github.com/AmitXShukla/Angular-Capacitor-Firebase-Setup" target="_blank">
    Angular Capacitor Firebase Setup
  </a>
  <br>Angular Capacitor GCloud Firebase development environment setup
  <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Tua9Cbw_YgU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p>
    <a href="https://github.com/AmitXShukla/Angular-Cordova-GCloud-Firebase-Setup" target="_blank">
      Angular Codova Firebase Setup
    </a>
    <br>Angular Cordova GCloud Firebase development environment setup
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Tua9Cbw_YgU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p>
    <a href="https://github.com/AmitXShukla/MNJIC" target="_blank">
          Angular PHP App
    </a>
    <br>Angular Material and PHP MYSQL Back end App
</p>